name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build And Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_SALMON_MUSHROOM_072F9AA00 }}
          action: upload
          app_location: "/"
          output_location: "dist"
          app_build_command: |
            echo "VITE_RAZORPAY_KEY=$VITE_RAZORPAY_KEY"
            npm ci
            npm run build
        env:
          VITE_API_BASE_URL: "https://shopnexa-backend-d9b5ccfqahczaxdm.eastasia-01.azurewebsites.net"
          VITE_RAZORPAY_KEY: ${{ secrets.VITE_RAZORPAY_KEY }}
